body{
    background: -webkit-gradient(linear, left top , right bottom, from(#12054e), to(#39065d)) fixed;
}

/* first frame */
.SecondaryBackground{
    width:80%;
    height:87%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 40px !important;
    background: -webkit-gradient(linear, left top , right bottom, from(#30065b), to(#431084)) fixed;
    box-shadow: rgba(10, 10, 57, 0.411) 0px 7px 29px 0px;
}
.note{
    text-align: center;
    width: 100%;
    height: 30px;
    position: relative;
}
.dropdown-menu{
    background-color: #935CB7 !important;
    color:#39065d !important;
    z-index: 90!important;
}

.dropdown-item:hover {
    background-color: #C288E7 !important;
    color: white !important;
}
.ThirdBackground{
    width:80%;
    height:75%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 40px !important;
    background-color: white;
    box-shadow: rgba(10, 10, 57, 0.411) 0px 7px 29px 0px;
    overflow: hidden;
    overflow-y: scroll;
}
.FourthBackground{
    display: none;
    width:80%;
    height:75%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 40px !important;
    background-color: white;
    box-shadow: rgba(10, 10, 57, 0.411) 0px 7px 29px 0px;
    overflow: hidden;
    overflow-y: scroll;
}
#mycanvas{
    margin: 0 !important;
    position: relative !important;
    margin-top:100% !important;
    height: 30px;
    width: 100%;
    left:-35px;
    align-items: center !important;
}
.canvas-container{
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
}
.divider{
    width: 2px;
    height: 100%;
    left:40px;
    position: relative;
    background-color: #410F80;
}

/* width */
.ThirdBackground::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
.ThirdBackground::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  /* Handle */
.ThirdBackground::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
.ThirdBackground::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
/* width */
.FourthBackground::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
.FourthBackground::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  /* Handle */
.FourthBackground::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
.FourthBackground::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
@keyframes show_beggining{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    40%{
        opacity: 1;
        transform: scale(1.1);
    }
    60%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes show_loggo{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.task{
    text-align: center;
}
.downrow{
    margin-top: 55px !important;
}
.uprow{
    margin-top:-100px !important;
}
.review-item{
    height: 100px;
    margin-bottom: 10px;
    border-style:solid;
    border-width: 2px 2px 2px 2px;
    border-color: #30065b;
    border-radius: 30px;
}

.container-reviews{
    width: 100% !important;
    margin-top:50px;
    height: 440px;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 60px;
}

/* width */
.container-reviews::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
.container-reviews::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  /* Handle */
.container-reviews::-webkit-scrollbar-thumb {
    background: #410F7F;
  }
  
  /* Handle on hover */
.container-reviews::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .introduction{
    font-family: 'Urbanist', sans-serif !important;
    color: gray;
    text-align: center;
    margin-bottom: 0px !important;
   
}
select{
    padding: 2% 6%;
    width: 80% !important;
    background-color:#a964d7 !important;
    color:white !important;
    border-radius: 20px !important;
    border-color: #a964d7 !important;
}

input::placeholder{
    color:white;
}

input[type=text],[input=submit]{
    padding: 2% 4%;
    margin-left: 4% !important;
    margin-top: 4% !important;
    width: 70% !important;
    background-color:#431084 !important;
    color:white !important;
    border-radius: 30px !important;
    border-color: #431084 !important;
}
#dropdown_write_location{
    padding: 2% 4%;
    margin-left: 4% !important;
    margin-top: 4% !important;
    width: 70% !important;
    background-color:#431084 !important;
    color:white !important;
    border-radius: 30px !important;
    border-color: #431084 !important;
}
#review{
    width: 100% !important;
    background-color:#431084 !important;
    color:white !important;
    border-radius: 30px !important;
    border-color: #431084 !important;
}

#review::placeholder{
color:white;
/* padding: 0% 4% !important; */
}
.my-vehicle{
    margin-top: 2%;
    margin-left: 40%;
    width: 20%;
    height: 4.3rem;
    border-style:solid;
    border-width: 2px 2px 2px 2px;
    border-color: #39065d;
    border-radius: 30px;
}


.rate {
display: flex;
justify-content: center;
margin-left:-10px !important;
}
.avatar{
    -webkit-filter: blur(1px);
    filter: blur(1px);
    object-fit: cover;
    right:-20px;
    width: 55px;
    height: 55px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #30065b;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 25px 0 20px -30px;
    z-index:999;
    display:block;
}

.pressed{
color:#340864 !important;
opacity: 1;
}

.avatar:hover{
    animation:spin 0.5s linear ;
}

@keyframes spin { 
    100% {transform:rotate(360deg); } 
}
.name{
    position: relative;
    width: 100% !important;
    overflow: hidden;
}
.email{
    position: relative;
    width: 100% !important;
    overflow: hidden;
}
#dropdown_write_location{
    text-align: left;
    background-color: #935CB7 !important;
    border-color: #935CB7 !important;
}
.fa-route{
    color: cyan;
}
.fa-star{
    color: cyan;
}
.stars{
    width: 100px;
    left:20px;
    text-align: left !important;
    position: relative !important;
    float: left !important; 
    left:-20px;
    overflow: hidden;
    cursor: pointer !important;
}

.list-item{
    text-align: center;
    justify-content: center;
    margin-top: 4%;
    display: inline-block;
    margin-left: 3.3%;
    width: 20%;
    border-style:solid;
    border-width: 2px 2px 2px 2px;
    border-color: #39065d;
    border-radius: 30px;
}

.checked{
    color: cyan;
}
.rowus{height: 10px !important;}

.logo{
    position: relative !important;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    color:white !important;
    font-size: calc(12px + 1.3vw);
    animation: show_loggo 1s;
    transform: scale(1);
    z-index:9999;
    background-color: #340864;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.btnme{
    position: relative;
    text-align: center !important;
    font-size: 20px;
    white-space: nowrap;
    opacity: 0.7;
    transition: all ease 0.3s !important;
}
.btnme:focus{
    color:#39065d !important;
    text-decoration: none;
    border-color: transparent !important;
    font-weight: bold !important;
}
.btnme:hover{
    opacity: 1;
}

.custom-btn{
    width: 100%;
    background-color: #400F7F !important;
    color: white !important;
}

.transportation_icons{
    position: relative;
}
.veh_icon{
    cursor: pointer;
    float: left !important;
    position: relative;
    left:-15px !important;
    margin-left: 30px;
    transition: all ease 0.3s;
}
.veh_icon:hover{
    transform: scale(1.2);
}

#review{
    padding: 0% 4% 22%  !important;
    margin-left: 3.3% !important;
    margin-top: 7% !important;
    width: 93% !important;
    background-color:#431084 !important;
    color:white !important;
    border-radius: 30px !important;
    border-color: #431084 !important;
}
video {
    border-radius: 20px;
    border: #400F7F 3px solid;
}
.btn_submit{
    width: 100%;
    border-radius: 10px !important;
    height: 40px;
    text-align: center;
    background-color: #400F7F;
    padding-top: 7px;
    color: white;
    border: 2px #400F7F solid;
    cursor: pointer;
}
.btn_publish{
    width: 100% !important;
    border-radius: 10px !important;
    height: 40px !important;
    text-align: center !important;
    background-color: #400F7F !important;
    padding-top: 7px !important;
    color: white !important;
    border: 2px #400F7F solid !important;
    cursor: pointer !important;
}

.foot{
    margin-top: 490px !important;
}

/* //depus nou */
#trainNo{
    display: block;
}
#subwayNo{
    display: none;
}
#busNo{
    display: none;
}
#taxiNo{
    display: none;
}

.footer{
    display: block;
    width:100%;
    position:absolute;
    top:90%;
    left:90%;
    color: white;
    transform:translate(-50%,-50%);
    border-radius: 40px !important;
}


.logomare{
    width: 100% !important;
    height: 100% !important;
    background-color: #400F7F !important;
    position:absolute !important;
    color:white;
    z-index: 99999;
    text-align: center;
    font-size: 50px;
    font-family: 'Urbanist', sans-serif !important;
    padding-top:25%;
    animation: SHOWLOGO 2.5s;
}
@keyframes SHOWLOGO {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    40%{
        opacity: 1;
        transform: scale(1.2);
    }
    60%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 0;
        transform: scale(1);
        display: none;
    }
}
